/*fonts*/
@font-face {
    font-family: Humming;
    src: url(fonts/Humming.otf);
}

@font-face {
    font-family: CalvertMT;
    src: url(fonts/CalvertMT.ttf);
}

* {
    font-family: Humming, sans-serif;
}

@import "variables";

/*flex portion*/
.flex {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/*right side*/
.right-side {
    flex: 3; order: 2;
    height: 100%;
    background-image: url(images/Sunny-BG.png);
    background-size: 110%;
    background-position: right top;
    background-color: lightgreen;

    /*header*/
    header {
        display: flex;
        align-items: center;
        padding-left: 4.43%;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(20px);

        .content {
            display: flex;
            align-items: center;
            gap: 20px;

            #site-title {
                font-family: CalvertMT; font-size: 24;
                color: $site-title;
                display: inline;
            }
        }

       
    }
}

body {
    margin: 0;
}

/*left-column navigation*/ $defaultWidth: 25%; $collapsedWidth: 10%;
nav {
    height: 100%; box-sizing: border-box;
    flex: 1; order: 1;
    align-items: stretch;
    background-color: $orange-light;
    padding-top: 130px;

    .option {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 19 54; margin: 0;
        box-sizing: border-box;

        @if not(active) {
            .filled {display:none;}
        }
        
        h2 {
            font-size: 16; color: #5E5E5E;
        }

        @if class == "active" {
            h2 {color: $orange-dark;}
        }
    }
}

/*bottom bar*/
.bottom-bar {
    height: 100px !important; width: 100%; box-sizing: border-box;
    position: fixed;
    bottom: 0;
    background-color: $orange-med;
    margin-bottom: 0;
    display: flex; justify-content: space-between;
    align-items: center;

    #btm-song-info {
        display: flex; gap: 40px;
        width: fit-content;
        flex-basis: min-content;
        white-space: nowrap;

        .btm-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            h2, h3 {
                margin: 0; padding: 0;
            }
        
            h2 {
                font-size: 14; color: white;
                -webkit-text-stroke: 0.3px $orange-light;
            }
        
            h3 {
                font-size: 12; color: $orange-light;
            }
        }
    }
    
    /*play/pause/volume*/
    .play-pause-volume {
        margin: 0 auto;
        z-index: 9999;
        display: flex; gap: 15px;
        align-items: center;

        .play-pause {
            #pause {display:none;}
        }

        .volume {
            width: 80px; height: auto;
            :not(#v-off) {display:none;}
        }
    }

    /*share*/
    .share {
        display: flex; gap:0px;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;

        h3 {font-size: 12; color: $orange-light;margin:0; padding:0;}
    }
}